@{
    ViewData["PreguntadOrt"] = "Home Page";
}
<h3 class = "azul">Puntaje:  @ViewBag.puntaje ----- @ViewBag.nombre</h3>
<br>
<div class="centro">
    <br>
    <h2>@ViewBag.pregunta.enunciado</h2>
    <img src="/Imagenes/@ViewBag.pregunta.foto" id="foto_pregunta">
    <form action='@Url.Action("VerificarRespuesta")' method="post">
        <div class="botonRtas">
            <button type="submit" class="btn btn-a btn-primary btn-lg" name="idRespuesta" value="@ViewBag.respuestas[0].idRespuesta">@ViewBag.respuestas[0].contenido</button>
            <button type="submit" class="btn btn-a btn-primary btn-lg" name="idRespuesta" value="@ViewBag.respuestas[1].idRespuesta">@ViewBag.respuestas[1].contenido</button>
        </div>            
        <div class="botonRtas">
            <button type="submit" class="btn btn-a btn-primary btn-lg" name="idRespuesta" value="@ViewBag.respuestas[2].idRespuesta">@ViewBag.respuestas[2].contenido</button>
            <button type="submit" class="btn btn-a btn-primary btn-lg" name="idRespuesta" value="@ViewBag.respuestas[3].idRespuesta">@ViewBag.respuestas[3].contenido</button>     
        </div>
    </form>
</div>